<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <div class="logo me-auto">
      <h1><a href="index.html">Delicious</a></h1>
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        
        <li class="dropdown"><a href="#"><span>Menu</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Starters</a></li>
            <li class="dropdown"><a href="#"><span>Salads</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Fruit salad</a></li>
                <li><a href="#">Greek salad</a></li>
                <li><a href="#">Panzanella</a></li>
              </ul>
            </li>
            <li><a href="#">First course</a></li>
            <li><a href="#">Second course</a></li>
            <li class="dropdown"><a href="#"><span>Specials</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Lobster Roll</a></li>
                <li><a href="#">Tuscan Grilled</a></li>
              </ul>
            </li>          
          </ul>
        </li>

        <li><a class="nav-link scrollto" href="#specials">Specials</a></li>
        <li><a class="nav-link scrollto" href="#events">Events</a></li>
        <li><a class="nav-link scrollto" href="#chefs">Chefs</a></li>
        <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a href="#book-a-table" class="book-a-table-btn scrollto">Book a table</a>

  </div>
</header><!-- End Header -->